body {
  margin: 0;
  position: relative;
}
.wrapper {
  height: 780px;
  background-image: url('img/backgroundImage.png');
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-around;
  height: 773px;
  margin-top: 1px;
  z-index: 100;
  opacity: 0.5;
  flex-direction: column;
  position: relative;
}
a {
  display: flex;
  align-self: center;
  height: 50px;
  width: 160px;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 34px;
  border-radius: 4px;
  opacity: 0.8;
}
.navbutton:hover {
  background-color: #2accc9;
}

.firstMsg {
  align-self: center;
  color: white;
  font-size: 48px;
  height: 50px;
  width: 700px;
  z-index: 2;
  font-family: 'Open Sans', sans serif;
}

.secondMsg {
  color: white;
  align-self: center;
  width: 300px;
  height: 100px;
  margin-top: 200px;
  font-size: 48px;
  font-family: 'Open Sans', sans-serif;
}

.wrapper2 {
  display: flex;
  justify-content: space-around;
  height: 700px;
  width: 100%;
  flex-direction: row;
  align-items: center;
}
.images1 {
  margin-top: -150px;
  background-image: url('img/firstProject.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 600px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}

.images2 {
  margin-top: -150px;
  height: 400px;
  width: 600px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  position: relative;
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 20px;
  text-align: center;
}
.imagewrap {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 600px;
  height: 400px;
  z-index: 9;
  display: none;
  justify-content: space-around;
  align-content: center;
  
}
.images1:hover .imagewrap {
  display: flex;
}
.images2:hover .imagewrap {
  display: flex;
}

.text {
  position: absolute;
  color: white; 
  display: none;
  align-self: center;
  text-align: center;
  z-index: 10;
}
.images1:hover .text {
  display: flex;
}
.images2:hover .text {
  display: flex;
}
