body, html {
  margin: 0;
  font-family: 'Montserrat';
  width: 100%;
  height: 100%;
}
label {
  color: white;
  font-size: 25px;
  display: none;
}
#toggle {
  display: none;
}
nav {
  display: flex-end;
  align-items: center;
  width: 100%;
  margin: 15px;
}
.navContainer {
  background-color: black;
  height: 75px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  box-shadow: 0 4px 2px -2px gray;

}
.navbutton {
  text-decoration: none;
  font-size: 25px;
  padding: 5px;
  color: white;
}
@media only screen and (max-width: 500px) {
  label {
    display: block;
    cursor: pointer;
    padding: 15px;
    font-size: 40px;
  }

  nav {
    display: none;
    flex-direction: column;
    justify-content: space-around;
  }
  .navContainer {
    height: 150px;
  }
#toggle:checked + nav {
  display: flex;
}
.aboutMe {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.leftWhoAmI img{
  display: none;
}
.aboutMeH {
  font-size: 20px;
  margin-top: 15px;
}
.aboutMeP {
  margin: 30px;
  font-size: 15px;
}
}
#orange {
  color: #EA8825;
}
.aboutMe {
height: 700px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

.leftWhoAmI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 700px;
  background-color: #f1f2f3;

}

.avatar {
  width: 200px; 
  height: 200px; 
  border-radius: 100%;
  object-fit: cover;
}
.fa-arrow-down {
  color: #0E34A0;
  text-decoration: none;
}
.fa-quote-left, .fa-quote-right {
  color: #EA8825;
  font-size: 80px;
}
.statement {
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.quoteP {
  font-size: 35px;
  color: grey;
  font-style: italic;
}
.quoteH {
  font-size: 35px;
  font-style: italic;
}
.aboutMeP {
  margin: 30px;
  font-size: 25px;
}
.aboutMeH {
  font-size: 40px;
  color:#EA8825;
}
.aboutParagraph {
  margin: 50px;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

.statement p{  
  animation: 1s ease-out 0s 1 slideInFromLeft;
  padding: 30px;
}

.imageHolder {
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 15px;
}
.portfolio {
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: space-around;
}
.imageOne {
  width: 350px;
  height: 350px;
  border: 1px solid black;
}
.imageTwo {
  width: 350px;
  height: 350px;
  border: 1px solid black;
}
.imageThree {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  background-image: url("./img/thirdProject.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}














/* this part below is for testing different features */

/* .arrow {
  text-align: center;
  margin: 8% 0;
  height: 10px;
} */
/* .bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
} */

/* @keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
} */