body, html {
  margin: 0;
  font-family: 'Montserrat';
  width: 100%;
  height: 100%;
}

label {
  color: white;
  font-size: 25px;
  display: none;
}

#nav a {
  color: white;
  font-size: 28px;
  font-family: 'Montserrat' !important;
}

#nav {
  background-color: transparent;
  flex-grow: 2;
  background: linear-gradient(220deg, rgb(41, 41, 39) 100%, rgb(11, 14, 17) 0%);
  flex-grow: 2;
  position: fixed;
  height: 85px;
  width: 100%;
  opacity: .8;
  background-color: transparent;
}

.navbar-toggler {
  background-color: #3C887E !important;
}

#nav .navbar-brand {
  font-size: 28px !important;
}

.faceShot {
  background-image: url("./img/HeadShot.jpg"), linear-gradient(220deg, rgb(41, 41, 39) 100%, rgb(11, 14, 17) 0%);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100%;
}

.quoteParagraph {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quoteParagraph h1 {
  color: grey;
}

@media only screen and (max-width: 500px) {
  label {
    display: block;
    cursor: pointer;
    padding: 15px;
    font-size: 40px;
  }
  .portfolio {
    display: flex;
    height: 1700px;
    ;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .imageHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .aboutMe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .leftWhoAmI img {
    display: none;
  }
  .aboutMeH {
    font-size: 20px;
    margin-top: 15px;
  }
  .aboutMeP {
    font-size: 13px;
  }
}

/* This is where the above media query ends! */

#orange {
  color: #3C887E !important;
}

#headline--name {
  color: white;
}

.aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.leftWhoAmI {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 780px;
  background-color: #f1f2f3;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  object-fit: cover;
}

.fa-arrow-down {
  color: #0E34A0;
  text-decoration: none;
}

.fa-quote-left, .fa-quote-right {
  color: #3C887E;
  font-size: 80px;
}

.statement {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.quoteP {
  font-size: 45px;
  color: grey;
  font-style: italic;
  text-align: center;
  flex-grow: 1;
}

.quoteH {
  font-size: 35px;
  font-style: italic;
}

.aboutMeP {
  align-self: center;
  font-size: 25px;
  text-align: center;
}

.aboutMeH {
  font-size: 40px;
  color: #3C887E;
}

.aboutParagraph {
  text-align: center;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

.quoteP {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  padding: 30px;
}

/* .portfolio {

} */

.Project {
  height: 730px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image {
  background: url('./img/firstProject.png'), linear-gradient(220deg, rgb(41, 41, 39) 10%, rgb(164, 164, 165) 90%);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 380px;
  width: 600px;
}

.image2 {
  background: url('./img/ScreenShot.png'), linear-gradient(220deg, rgb(41, 41, 39) 10%, rgb(164, 164, 165) 90%);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 380px;
  width: 600px;
}

.firstProjectContent {
  height: 200px;
  width: 350px;
  height: 180px;
}

.orangebar-right {
  padding: 0 0 0 2rem;
  border-right: .5rem solid #3C887E;
  height: 180px;
}

.orangebar {
  padding: 0 0 0 2rem;
  border-left: .5rem solid #3C887E;
  height: 180px;
}

i {
  font-size: 38px;
  flex-grow: 1;
}

.website {
  background-color: #3C887E;
  color: black;
  height: 35px;
  border-radius: 6px;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  margin-right: 10px;
}

.website:hover {
  text-decoration: none;
  color: white;
}

.website-right {
  background-color: #3C887E;
  color: black;
  height: 35px;
  border-radius: 6px;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  flex-grow: 1;
}

.technologies {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
}

.technologies-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 350px;
}

h1 {
  line-height: 1.2;
}

.image3 {
  background: url('./img/thirdProject.png'), linear-gradient(220deg, rgb(41, 41, 39) 10%, rgb(164, 164, 165) 90%);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 380px;
  width: 600px;
}

.image4 {
  background: url('./img/FinalProject.png'), linear-gradient(220deg, rgb(41, 41, 39) 10%, rgb(164, 164, 165) 90%);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 380px;
  width: 600px;
}

#contact--info {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 15rem;
}

#contact--info a {
  color: white;
  font-size: 50px;
  padding: 25px;
}

#contact--info a:hover {
  color: #3C887E;
}

#contact--info p {
  color: white;
  font-size: 18px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width:798px) {
  /* this part is for tablet size screens! */
  .faceShot {
    background-size: cover;
    width: 100%;
  }
  #portfolio {
    width: 100%;
    height: 1250px
  }
  .statement {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
  }
  .leftWhoAmI {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .aboutMeP {
    width: 100%;
    height: 400px;
    text-align: center;
  }
  .Project {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .orangebar {
    display: none;
  }
  .orangebar-right {
    display: none;
  }
  .quoteP {
    font-size: 28px;
  }
  .image2 {
    order: 0;
  }
  #second {
    order: 1;
  }
  body {
    cursor: pointer
  }
}

@media only screen and (max-width:550px) {
  /* For mobile phones: */
  #nav a {
    color: #3C887E;
  }
  #contact--info p {
    color: white;
    font-size: 18px;
    width: 300px;
    text-align: center;
  }
  .faceShot {
    background-size: cover;
  }
  #portfolio {
    width: 100%;
    height: 1250px
  }
  .statement {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
  }
  .leftWhoAmI {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .aboutMeP {
    width: 100%;
    height: 400px;
    text-align: center;
  }
  .Project {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 1300px;
  }
  .orangebar {
    display: none;
  }
  .orangebar-right {
    display: none;
  }
  .quoteP {
    font-size: 28px;
  }
  .image2 {
    order: 0;
    width: 100%;
  }
  .image {
    width: 100%;
  }
  .image3 {
    width: 100%;
  }
  .image4 {
    width: 100%;
  }
  #second {
    order: 1;
  }
  body {
    cursor: pointer
  }
}